/* Global */
BODY {
  min-width: auto;
}

LABEL {
  -webkit-user-select: none;
  user-select: none;
}

#loading_indicator {
  background-image: url('../images/indicator.gif');
  background-repeat: no-repeat;
  background-position: left center;
  height: 70px;
  width: 30px;
  margin: auto;
}

.jcf-disabled {
  opacity: 0.4;
}

.ipchecker-popup .opener {
  cursor: pointer;
}

.ipchecker-popup .opener img {
  top: 3px;
}

.ipchecker-popup .opener .indicator:before, .ipchecker-popup .opener .indicator:after {
  transition: all 0.2s ease-out;
}

.ipchecker-popup .slide {
  padding-bottom: 0;
}

.ipchecker-popup TR[rel="coordinates"] TD {
  text-decoration: underline;
  cursor: pointer;
}

.ipchecker-popup TR[rel="coordinates"] TD:hover {
  text-decoration: none;
}

.ipchecker-popup .map-holder {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ipchecker-popup .map-holder .map-overlay {
  height: 645px;
  width: 645px;
  position: absolute;
  top: -212px;
  left: -130px;
  border: 215px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}

.ipchecker-popup .ip-table {
  width: auto;
}

.ipchecker-popup #nologs TD {
  text-align: center;
}

.ipchecker-popup #clear_button {
  float: right;
  font-size: 11px;
  line-height: 14px;
  width: 70px;
  color: #fff;
  text-transform: uppercase;
  background: #00adad;
  padding: 5px 3px;
  margin: 8px 1px -5px 0px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #407c49;
}

.ipchecker-popup #clear_button:hover {
  text-decoration: none;
  background: #407c49;
}

.js-slide-hidden {
  position:absolute !important;
  left:-9999px !important;
  top:-9999px !important;
  display:block !important;
}