/*settings*/
.nsc-settings-page {width:100%; height:100%; overflow:auto; color:#151515;}
.nsc-settings-page-layout {padding:14px 0; min-height:580px; height:100%;}
.nsc-settings-page .nsc-wrapper {width:480px; padding:0 14px; margin:0 auto;}

.nsc-settings-page-title {font-family:'OpenSansBold'; color:#fff; font-size:18px; padding:0 0 20px 0;}
.nsc-settings-page-title-layout {justify-content:center; align-items:center;}
.nsc-settings-page-title-layout .nsc-icon {width:43px; height:43px; margin:0 10px 0 0;}

.nsc-settings-wrapper {background:#fff; padding:14px 20px 50px 20px;}
.nsc-settings-content {padding:0 20px; display:none;}
.nsc-settings-content.nsc-active {display:block;}
.nsc-settings-title {font-family:'OpenSansBold'; font-size:11px; color:#1694ab; text-align:center; padding:0 0 14px 0; text-transform:uppercase; line-height:1;}

.nsc-settings-tabs {background:#fff; padding:0 0 10px 0;}
.nsc-settings-tabs-layout {position:relative;}
.nsc-settings-tab {background:none; border:none; cursor:pointer; position:relative; width:100%; box-sizing:border-box;
font-family:'OpenSansSemibold'; color:#000; font-size:12px; padding:16px 16px 16px 16px; border:1px solid #c7c7c7; border-top:none; border-bottom:none;}
.nsc-settings-tab:first-child {border-left:none;}
.nsc-settings-tab:last-child {border-right:none;}
.nsc-settings-tab-line {position:absolute; left:0; bottom:0; width:100%; height:2px; background:#c7c7c7;}
.nsc-settings-tab.nsc-active {background:#fff; color:#000;}
.nsc-settings-tab.nsc-active .nsc-settings-tab-line {display:block; background:#1aabc6; height:6px;}

.nsc-switchers {}
.nsc-switchers .nsc-button {border-radius:0; margin:0 0 0 -1px; width:100%;}
.nsc-switchers .nsc-button:first-child {border-radius:4px 0 0 4px;}
.nsc-switchers .nsc-button:last-child {border-radius:0 4px 4px 0;}
.nsc-switchers-row-1 .nsc-button {margin:0 0 -1px -1px;}
.nsc-switchers-row-1 .nsc-button:first-child {border-radius:4px 0 0 0;}
.nsc-switchers-row-1 .nsc-button:last-child {border-radius:0 4px 0 0;}
.nsc-switchers-row-2 .nsc-button:first-child {border-radius:0 0 0 4px;}
.nsc-switchers-row-2 .nsc-button:last-child {border-radius:0 0 4px 0;}

.nsc-settings-format {align-items:center; padding:0 0 20px 0;}
.nsc-settings-format .nsc-switchers {margin:0 0 0 30px;}
.nsc-settings-format .nsc-switchers .nsc-button {height:46px;}

.nsc-settings-quality {padding:0 0 50px 0;}
.nsc-settings-quality-content {align-items:center; width:80%; margin:0 auto;}
.nsc-settings-quality-input input {width:100%; box-sizing:border-box; padding:0; margin:0; line-height:1;}
.nsc-settings-quality-value {padding:0 0 0 10px;}

.nsc-settings-save-as {margin:0 auto; padding:0 0 50px 0;}
.nsc-settings-save-as-content {font-size:11px; color:#8a8a8a; padding:9px 0 0 0;}
.nsc-settings-save-as-content input {display:block; width:100%; box-sizing:border-box; border-radius:2px; border:1px solid #d2d2d2; background:#fff; padding:4px 7px; color:#000; margin:3px 0; font-size:12px;}

.nsc-settings-capture-top {padding:0 0 15px 0;}
.nsc-settings-capture-flags {padding:0 0 15px 0;}
.nsc-settings-capture-flags .nsc-icon {height:18px; width:18px;}
.nsc-settings-capture-switchers {position:relative; margin:0 0 50px 0;}
.nsc-settings-capture-switchers .nsc-switchers {justify-content:center;}
.nsc-settings-capture-switchers .nsc-switchers:first-child {padding:0 0 14px 0;}
.nsc-settings-capture-switchers .nsc-button {padding:0 5px;}
.nsc-settings-capture-switchers .nsc-button .nsc-icon {margin:0;}
.nsc-settings-capture-switchers-blocker {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10; background:rgba(255,255,255, 0.5);}

.nsc-settings-menu {}
.nsc-settings-menu-group {align-items:center; justify-content:space-between; padding:0 0 5px 0;}
.nsc-settings-menu-group .nsc-flag {width:50%;}
.nsc-settings-menu-group .nsc-flag .nsc-icon {width:24px; height:24px; margin:0 10px 0 5px;}

.nsc-settings-shortcut {width:80%; margin:0 auto;}
.nsc-settings-hotkey {align-items:center; justify-content:space-between; font-size:11px; padding:0 0 10px 0;}
.nsc-settings-hotkey-data select {display:block; width:90px; border:1px solid #ddd; font-size:12px; border-radius:2px; padding:2px 3px; background:#fff; box-sizing:border-box;}

.nsc-settings-info {padding:20px 0 0 0; text-align:right; color:#717171;}
.nsc-settings-info a {color:#1694ab;}